{% extends "control_usuarios/base.html" %}

{% block contenido %}
<section>
  <div>
    <h1>Lista de Articulos</h1> 
    <a href="{% url 'crear_articulo' %}">Crear Articulo</a>

    <ul>
    {% for articulo in articulos %}
      <li>{{ articulo.nombre }}, {{ articulo.categoria }}</li>
    {% endfor %}
    </ul>

    <table class="table">
      <tbody>
        <tr>
          <th>Nombre</th>
          <th>Categoria</th>
          <th>Fecha Publicacion</th>
        </tr>
        {% for articulo in articulos %}
        <tr>
          <td>{{ articulo.nombre }}</td>
          <td>{{ articulo.categoria }}</td>
          <td>{{ articulo.fecha_publicacion }}</td>
        </tr> 
        {% endfor %}
      </tbody>
    </table>

  </div>
</section>
{% endblock contenido %}


<table class="table">
  <tbody>
    <tr>
      <th>Nombre</th>
      <th>Categoria</th>
      <th>Fecha Publicacion</th>
    </tr>
    {% for articulo in articulos %}
    <tr>
      <td>{{ articulo.nombre }}</td>
      <td>{{ aarticulo.categoria }}</td>
      <td>{{ articulo.fecha_publicacion }}</td>
    </tr> 
    {% endfor %}
  </tbody>
</table>