{% extends "control_usuarios/base.html" %}

{% block contenido %}
<section>
  <div>
    <h1>Lista de Articulos</h1> 
    <a href="{% url 'crear_articulo' %}">Crear Articulo</a>
<!-- Esto era para mostrar los articulos como una lista, cambie la vista a una tabla
    <ul>
    {% for articulo in articulos %}
      <li>{{ articulo.nombre }}, {{ articulo.categoria }}</li>
    {% endfor %}
    </ul>
-->

<!--Esto muestra los articulos como una tabla-->
    <table class="table">
      <tbody>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Categoria</th>
          <th>Fecha Publicacion</th>
        </tr>
        {% for articulo in articulos %}
        <tr>
          <td>{{ articulo.id }}</td>
          <td>{{ articulo.nombre }}</td>
          <td>{{ articulo.categoria }}</td>
          <td>{{ articulo.fecha_publicacion }}</td>
          <td>
          <td>  
            <a href={%url 'editar_articulo' articulo.id %}>Editar</a> 
          </td>
          <td>
            <form action="{% url 'eliminar_articulo' articulo.id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="eliminar"/>
            </form>
          </td>
        </tr> 
        {% endfor %}
      </tbody>
    </table>

  </div>
</section>
{% endblock contenido %}


<table class="table">
  <tbody>
    <tr>
      <th>Nombre</th>
      <th>Categoria</th>
      <th>Fecha Publicacion</th>
    </tr>
    {% for articulo in articulos %}
    <tr>
      <td>{{ articulo.nombre }}</td>
      <td>{{ aarticulo.categoria }}</td>
      <td>{{ articulo.fecha_publicacion }}</td>
    </tr> 
    {% endfor %}
  </tbody>
</table>